/* BASE PARA TODAS AS TELAS CONTEUDO AO MEIO DO SIDEBAR */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Usar flexbox para organizar o layout */
}

#sidebar-container {
    width: 250px; 
}


.navigation-menu {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: transparent; 
    color: black;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    width: calc(100% - 250px); 
    top: 0;
    left: 250px;
    z-index: 1000; 
    box-shadow: none; 
    gap: 15px; 
    margin-left: 20px;
    z-index: 100;
    transition: left 0.3s ease;
}

.navigation-menu.adjusted {
    left: 80px; 
}

.navigation-menu button {
    padding: 10px 15px;
    font-weight: 600;
    color: rgb(255, 255, 255); 
    background-color: #08331859; 
    border: 2px solid #188642; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; 
    flex-grow: 0; 
    min-width: 180px; 
    border: 2px solid #000000;
    border-bottom: none; 
    margin-top: 35px;
    /* Centraliza o texto */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.navigation-menu button:hover {
    background-color: #188642; 
    color: white; 
}

.navigation-menu button.selected {
    border: 2px solid white; 
    background-color: white; 
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .navigation-menu {
        width: 100%;
        left: 230px;
        margin-left: 0px;
        padding: 43px;
        gap: 5px;
    }

    .navigation-menu button {
        padding: 8px 12px; /* Reduz o padding */
        font-size: 13px; /* Diminui o tamanho da fonte */
        min-width: 80px; /* Ajusta o tamanho mínimo do botão */
        margin-top: 10px; /* Ajusta a margem superior para mais espaço */
    }

    .navigation-menu.adjusted{
        width: 100%;
        left: 50px;
        margin-left: 0px;
        padding: 43px;
        gap: 5px;
        
    }

    
}