body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

header {
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 254, 254);
    height: 90px; /* Define uma altura fixa */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
}

header img {
    max-width: 90%;
    height: auto;
    cursor: pointer;
}

header h1 {
    margin: 5px 0;
}

header .oferta {
    color: orange;
}

header .ganhe {
    color: #188642;
}

nav {
    flex-grow: 1;
    background-color: #188642;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

nav button:first-child {
    margin-top: 15px;
}

button {
    padding: 15px;
    border: none;
    background-color: #188642;
    color: white;
    font-size: 0.98rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

button img {
    margin-right: 20px;
    max-width: 24px;
    height: auto;
}

button:hover {
    background-color: #0B4120;
}

button.selected {
    background-color: #0B4120;
}

.button-exit {
    margin-top: auto;
    margin-bottom: 10px;
}

.auxiliary-bar {
    background-color: #188642;
    height: 92px;
    position: fixed;
    left: 250px;
    top: 0;
    width: calc(100% - 250px);
    z-index: 1000;
    isolation: isolate;
    transition: left 0.3s ease, width 0.3s ease;

}

/* Animação de fechamento */
.sidebar.closed {
    width: 80px;
}

.sidebar.closed nav button .button-title {
    display: none;
}

.sidebar.closed nav button img {
    margin-right: 0;
}

/* Ajuste de estilo quando o sidebar está fechado */
.sidebar.closed .auxiliary-bar {
    left: 80px;
    width: calc(100% - 80px);
}

.content {
    flex-grow: 1; /* Faz o conteúdo ocupar o espaço restante */
    padding: 20px; /* Adiciona um espaço interno */
    background-color: rgb(255, 255, 255); 
    min-height: 100vh; 
    margin-top: 100px;
    margin-left: 0px;
    transition: margin-left 0.3s ease;
}

.content.adjusted {
    margin-left: -170px; /* Remove a margem quando o sidebar está fechado */
}